---
import Project from "./Project.astro";
import { Send } from "@lucide/astro";

const projects = [
  // {
  //   title: "Tabla de Costeo",
  //   description:
  //     "Verifica el costo de los ingredientes y empaques de tus recetas, calcula el valor real de tu producto y dependiendo del precio de venta, calcula el margen de ganancia.",
  //   tags: ["React", "React-Router", "Tailwind CSS"],
  //   repo: "https://github.com/joseverdev/tabla-costeo",
  //   web: "https://tabla-costeo.netlify.app/",
  //   icon: "💰",
  // },
  // {
  //   title: "Task",
  //   description:
  //     "Aplicación de tareas que te permite gestionar tus tareas, agregar, eliminar y marcar como completadas.",
  //   tags: ["Next.js", "Node.js", "SQL"],
  //   repo: "https://github.com/joseverdev/task",
  //   icon: "✅",
  // },
  {
    title: "PlatziMessage",
    description:
      "Aplicación de mensajería que permite a los usuarios enviar y recibir mensajes en tiempo real.",
    tags: ["React", "React-Router", "Node.js", "WebSockets", "PostgreSQL"],
    repo: "https://github.com/joseverdev/platzi-message",
    icon: Send,
    web: ''
  },
];
---

<section class="projects" id="proyectos">
  <h2 class="title-2">PROYECTOS</h2>
  <div class="projects__container">
    {
      projects.map((project) => {
        return (
          <Project
            title={project.title}
            description={project.description}
            tags={project.tags}
            repo={project.repo}
            web={project.web}
            icon={project.icon}
          />
        );
      })
    }
  </div>
</section>

<style>
  .projects__container {
    display: flex;
    justify-content: center;
    width: 320px;
    max-width: 1080px;
    margin: auto;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 24px;
  }

  @media (min-width: 600px) {
    .projects__container {
      width: 500px;
    }
  }
  @media (min-width: 1080px) {
    .projects__container {
      margin: inherit;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
