---
const { icon, name, description, url } = Astro.props;
---

<a class="social-box" href={url} target="_blank" rel="noopener noreferrer">
  <div class="social-box__container">
    <div class="social-box__icon">
      <div class="social-box__img-container">
        <img class="social-box__img" src={icon} alt={name} />
      </div>
    </div>
    <div class="social-box__texts">
      <h3 class="social-box__title">{name}</h3>
      <p class="social-box__description">{description}</p>
    </div>
  </div>
</a>

<style>
  .social-box__icon {
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .social-box__img {
    width: 32px;
    height: 32px;
    object-fit: scale-down;
  }
  .social-box {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--border);
    background-color: var(--bg-dark-box);
    text-align: left;
  }
  .social-box:hover {
    border: 1px solid var(--orange);
    transition: all 0.5s ease-in;
  }
  .social-box__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .social-box__icon {
    flex: 0 0 48px; 
  }
  .social-box__texts {
    flex: 1 1 auto; 
    min-width: 0;
  }
  .social-box__description {
    color: var(--text-grey);
  }

  @media (min-width: 500px) {
    .social-box__container {
      gap: 2rem;
    }
  }
</style>
